*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-small{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.debug{
  width: 100%;
  height: 100%;
  background-color: rgb(250, 209, 134);
  border: 1px solid black;
}

.flex{
  display: flex;
}

/* ----------header---------- */
header{
 position: fixed;
 left: 0;
 right: 0;
 z-index: 999;
 border-bottom:1px solid lightgrey;
 background-color: white;
}

.head li{
  list-style: none;
  display: inline;
  margin: 0 20px;
  padding-bottom: 15px;
}

.head nav ul li:hover{
  border-bottom: 3px solid rgba(0, 0, 0, 0.295);
}

.head a,
.jumbotron a{
  text-decoration: none;
  color: black;
}

.head{
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: .9rem;
}

.box-left{
  align-items: center;
}

.box-right{
  align-items: center;
}

.btn a{
  cursor: pointer;
  padding: 6px 10px;
  display: inline-block;
}

.btn.blue a{
  background-color: #0061FF;
  text-decoration: none;
  color: white;
}

.btn.blue a:hover{
  background-color: #0062ffa9;
  color: black;
}

/* ----------/header---------- */

/* ----------main---------- */

main{
  padding: 40px 0;
}

/* jumbo */
.jumbotron{
  position: relative;
}

.jumbo-section{
  background-color: #B4D0E7;
  padding-bottom: 40px;
}

.jumbotron h1{
  font-size: 3rem;
  font-weight: 800;
  padding: 50px 0;
  padding-right: 100px;
}

.jumbotron .text .btn.blue{
  display: block;
  margin: 30px 0;
}

.box-img-text{
  justify-content: space-between;
}

.text{
  width: 30%;
  align-items: center;
  padding-bottom: 50px;
}

.text p{
  font-size: .9rem;
  padding-bottom: 10px ;
}

.box-img-text .text .fa-solid.fa-arrow-down{
  position: absolute;
  left: 10px;
  bottom: -30px;
  font-size: 2.5rem;
}

.image{
  width: 69%;
  position: relative;
}

.image img{
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: -130px;
}

.text .small{
  font-size: .9rem;
}

/* section-list */
.section-list{
  padding-top: 100px;
}

.title-box{
  padding: 50px 0;
}

h2{
  font-size: 2.5rem;;
  margin-bottom: 30px;
}

.check-box i{
  margin-right: 5px;
}

.fatturazione{
  margin-right: 30px;
}

.fatturazione.bluesky i{
  color: #0061FF;
}

.fatturazione.grey i{
  color: #D0D0D3;
}

.box-list{
  flex-wrap: wrap;

  justify-content: space-between;
}

.column{
  border: 1px solid lightgrey;

  width: 30%;
  height: auto;
  flex-direction: column;
}

.user{
  border-bottom: 1px solid lightgrey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.list-offer{
  padding: 10px 0;
}

.list-offer li{
  list-style: none;
  list-style-type: '\25BC';
  padding: 10px 0;
  margin: 0 20px;
  font-size: .9rem;
}

.list-offer{
  height: 250px;
}

.point{
  margin-bottom: 50px;
}

.contattaci a{
  width: 80%;
}

.plan{
  padding: 20px;
}

.plan h4{
  padding: 30px 0;
}

.sec-buy{
  text-align: center;
}

.buy{
  padding: 20px 25px;
  display: block;
  text-align: start;
}

.price{
  font-weight: bold;
  font-size: .8rem;
}

.time{
  color: gray;
  font-size: .8rem;
}

.column.big{
  width: 100%;
  margin-top: 50px;
}

.top{
  justify-content: space-evenly;
  padding: 20px;
}

.info{
  width: 70%;
}

.top .info p{
  font-size: .9rem;
  padding: 40px 0;
}

.top .info h4{
  padding: 20px 0;
  font-size: .9rem;
}

/* section-partner */
.section-partner{
  flex-wrap: wrap;
  padding-top: 100px;
}

.partner{
  width: 60%;
}

.partner img{
  width: 100%;
}

.partner.text{
  width: 40%;
  padding: 30px;
}

.partner.text h2,
.partner.text p{
  padding-bottom: 40px;
}

.btn.grey a{
  background-color: white;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.btn.grey a:hover{
  background-color: rgb(180, 180, 180);
  color: white;
  border: none;
}

/* section-operation */
.operations{
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 0;
}

.card{
  width: calc(100% / 3.1);
  padding-bottom: 50px;
}

h3{
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.operations .card img{
  width: 100%;
}

/* client */
.client{
  margin-bottom: 50px;
}

.client h2,
.client span{
  padding: 40px 0;
}

/* business-partner */
.business-partner{
  width: 100%;
  height: calc(100vw / 3); 
}

.square{
  width: calc(100vw / 3);
}

.square.brand{
  flex-wrap: wrap;
}

.logos{
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.logos img{
  width: 100px;
  filter: invert(1);
}

.logos:active{
  border: 15px solid rgba(255, 255, 255, 0.404);
}

.designit{
  background-color: #A2D39B;
}

.asu{
  background-color: #61082B;
}

.florida{
  background-color: #0093CE;
}

.topps{
  background-color: #FF1C1C;
}

.bycicle{
  background-color: #D5001F;
}

.hearst{
  background-color: #B4D0E7;
}

.lonely{
  background-color: #0D2481;
}

.clear{
  background-color: #FFD830;
}

.square.description{
  padding: 40px;
  overflow: auto;
  background-color: #F5F5F5;
}

.square.description img{
  width: 150px;
}

.line{
  width: 40px;
  border-bottom: 1px solid #D0D0D3;
  margin: 30px 0;
}

.square.description p{
  margin-bottom: 30px;
  font-size: .9rem;
}

.cit{
  font-size: .9rem;
}

/* promo */
.promo{
  width: 100%;
  padding: 110px 0;
  background-color: #B4D0E7;
}

.slogan{
  justify-content: space-between;
  align-items: start;
}

.slogan h2{
  width: 60%;
  color: #61082B;
}

.slogan .btn.grey a{
  border: none;
  padding: 10px 50px;
}

/* ask */
.requests{
  margin-bottom: 100px;
  padding-top: 100px;
}

.requests h2{
  margin: 50px 0;
}

.ask{
  padding: 30px 0;
  justify-content: space-between;
}

.ask span{
  font-weight: bold;
}

.ask.top{
  border-top: 1px solid #D0D0D3;
}

.ask.middle{
  border-width: 1px 0px 1px 0;
  border-style: solid;
  border-color: #D0D0D3;
}

.ask.bottom{
  border-bottom: 1px solid #D0D0D3;
}

/* ----------/main---------- */

/* ----------footer---------- */
footer{
  background-color: black;
  color: white;
}

.bfoot{
  justify-content: space-between;
}

.col{
  margin: 50px 0;
}

.menu-foot{
  list-style: none;
  margin: 20px 0;
}

.menu-foot li{
  margin: 10px 0;
}

.foot .line{
  width: 150px;
}

.foot i,
.foot span{
  color: #909090;
  margin-right: 5px;
  margin-bottom: 30px;
}
/* ----------/footer---------- */