*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  width: 100%;
  height: 100px;
  background-color: rgb(250, 209, 134);
  border: 1px solid black;
}

.flex{
  display: flex;
}

/* header */
header{

}

.head li{
  list-style: none;
  display: inline;
  margin: 0 20px;
}

.head a{
  text-decoration: none;
  color: black;
}

.head{
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: .9rem;
}

.left{
  
}

.right{
  align-items: center;
}

.btn{
  cursor: pointer;
  padding: 6px 10px;

}

.right .btn.blue{
  background-color: #0061FF;
  color: white;
}