*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.debug{
  width: 100%;
  height: 500px;
  background-color: rgb(250, 209, 134);
  border: 1px solid black;
}

.flex{
  display: flex;
}

/* header */
header{
 position: fixed;
 left: 0;
 right: 0;
 z-index: 999;
 border-bottom:1px solid lightgrey;
 background-color: white;
}

.head li{
  list-style: none;
  display: inline;
  margin: 0 20px;
}

/* TODO: HOVER DA AGGIUNGERE */

.head a,
.jumbotron a{
  text-decoration: none;
  color: black;
}

.head{
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: .9rem;
}

.box-left{
  
}

.box-right{
  align-items: center;
}

.btn a{
  cursor: pointer;
  padding: 6px 10px;
}

.box-right .btn.blue a,
.jumbotron .text .btn.blue a{
  background-color: #0061FF;
  color: white;
}

/* main */
main{
  padding: 40px 0;
}

.jumbotron h1{
  font-size: 3rem;
  font-weight: 800;
  padding: 20px 0;
  padding-right: 300px;
}
.jumbotron .text span{
  display: inline-block;
  margin: 20px 0;
}

.box-img-text{
  justify-content: space-between;

}

.text{
  width: 30%;
  align-items: center;
}

.image{
  width: 70%;
}

.image img{
  width: 100%;
}
